<!DOCTYPE html>
{% load static %}

<html>
<head>
    <title>LieBot</title>
</head>
<body>
    <header>
        <h1>LieBot</h1>
        <nav>
            <a href="{% url 'chatbot:home' %}">Home</a> |
            <a href="{% url 'chatbot:contact' %}">Contact Us</a> |
            <a href="{% url 'chatbot:login' %}">Login</a> |
            <a href="{% url 'chatbot:register' %}">Register</a> |
        </nav>
        <hr>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>


    <script src="{% static 'js/jquery-3.3.1.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'js/liebot-query.js' %}" crossorigin="anonymous"></script>
</body>
</html>